.verdana {
  font-family: verdana;
}

.fondo-gris {
  background-color: #dfe2e2;
}

.no-user-select {
  user-select: none;
}

.no-pointer-events {
  pointer-events: none;
}

.linea {
  background-color: #b0ccff;
}
